/* колір основного тексту #757575 */
/* колір заголовків #212121 */
/* акцент #2196F3 */
/* колір контактів rgba(255, 255, 255, 0.6); */
/* білий #FFFFFF */
/* колір основного фона #F5F5F5 */
/* вторинний цвіт фону #F5F4FA */
/* фон хедера #FFFFFF */

body {
    background-color: #F5F5F5;
    color: #757575;
}

.list {
    list-style: none;
}

/* Хедер */

.header {
    background-color: #FFFFFF;
}

/* Лого */

.logo {
    color: #212121;
}

.logo .accent {
    color: #2196F3;
}

/* Головна навігація */

.site-nav .link {
    color: #212121;
}

.site-nav .link:hover, .site-nav .link:focus {
    color: #2196F3;
}

/* Контакти у хедері */

.header-contacts .link {
    color: #212121;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
    color: #2196F3;
}


